<html>
  <head>
    <title>WSB - {{ title }}</title>
  </head>
  <body>
    <p>WSB Chat Application</p>
    {% for thread in threads %}
      <h3>{{ thread.title }}</h3>
      <p>/u/{{ thread.author }}</p>
      {% if thread.content %}
        <p>{{ thread.content }}</p>
      {% endif %}
      {% if thread.image_url %}
        <img src="{{ thread.image_url }}">
      {% elif thread.video_url %}
        <video width="400" controls>
          <source src="{{ thread.video_url }}" type="video/mp4"></source>
        </video>
      {% endif %}
      <br>
    {% endfor %}
  </body>
</html>